/* 
    Document   : tac_main
    Created on : Sep 15, 2012, 2:03:13 AM
    Author     : Asus
    Description:
        The main stylesheet for TAC Prototype frontpage.
*/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}